.acerca {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 100px; 
}

.acerca-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.acerca-img img {
    margin-top: 40px;
    width: 330px;
    border-radius: 10px;
}

.acerca-contenido {
    max-width: 420px;
}

.acerca-titulo {
    font-size: 50px;
    color: rgba(5, 50, 100, 1);
    margin-bottom: 15px;
    line-height: 1;
}

.acerca-text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: rgba(5, 50, 100, 1);
    line-height: 1.5;
}

.softwares {
    width: 100%;
    text-align: center;
}

.softwares-titulo {
    font-size: 45px;
    color: rgba(5, 50, 100, 1);
    margin-bottom: 30px;
}

.softwares-logos {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.softwares-logos img {
    width: 70px;
    height: 70px;
    padding: 12px 18px;
    border-radius: 12px;
}
