
.libro-titulo {
    font-size: 50px;
    color: rgba(5, 50, 100, 1);
    margin-bottom: 60px;
    text-align: center;
}

.proyecto-bloque {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.proyecto-bloque.invertido {
    flex-direction: row-reverse;
}

.proyecto-img {
    width: 45%;
    border-radius: 12px;
}

.proyecto-texto {
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: rgba(5, 50, 100, 1);
    max-width: 550px;
}

.galeria-multiple {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.galeria-img {
    width: 90%;
    border-radius: 10px;
}